* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.body {
    background-color: #18181A;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: #E69600;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: 80px;
    font-family: "Puritan", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

nav {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

.new {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-weight: bold;
    padding-right: 40px;
}

h1 {
    font-size: 60px;
}

.active {
    background-color: #18181A;
    border-radius: 1rem 1rem 0 0;
    padding: 25px 35px;
}

.left {
    text-align: left;
    justify-content: left;
    display: flex;
    margin-left: 40px;
}

.right {
    text-align: right;
    justify-content: right;
}

.light {
    background: url(img/light.png) no-repeat;
    background-size: cover;
    width: 61px;
    height: 61px;
    margin-top: -15px;
}

.scrollbar {
    margin: 3% auto;
    width: 89%;
    min-height: 550px;
    background: #222831;
    height: 400px;
    font-family: "Puritan", sans-serif;
    border-radius: 25px;
    overflow-y: scroll;
    color: white;
}

.round1 {
    margin: 3% auto;
    background-color: #222831;
    width: 90%;
    min-height: 600px;
    height: 400px;
    border-radius: 25px;
    font-family: "Puritan", sans-serif;
    text-align: left;
}

.images {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Added to wrap images on smaller screens */
}

.images img {
    max-width: 100%;
    height: auto; /* Adjusted height to maintain aspect ratio */
    width: 100%; /* Adjusted width to take full width on smaller screens */
    margin: 10px 0; /* Adjusted margin for spacing */
}

.title {
    font-size: 60px;
    font-family: 'Nixie One', system-ui;
    font-weight: bold;
    color: #E69600;
    padding-left: 10%; /* Adjusted padding for smaller screens */
}

.name {
    color: white;
}

@media only screen and (max-width: 768px) {
    header {
        height: auto;
    }

    .new {
        padding-right: 20px;
    }

    h1 {
        font-size: 40px;
    }

    .title {
        font-size: 40px;
        padding-left: 5%;
    }

    .name-animation h1 {
        font-size: 30px;
    }

    .images img {
        width: 100%;
        margin: 10px 0;
    }
}
